.main {
  min-height: 90vh;
  text-align: center;
  @media screen and (min-width: 768px) {
    min-height: 85vh;
  }
  &__pic {
    background-image: url("../../images/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-height: 85vh;
    height: 80vh;
  }
  &__secondPic {
    background-image: url("../../images/fondo4.jpg") !important;
  }
}
