// @import "../core/variables.scss";

.main {
  min-height: 90vh;
  text-align: center;
  &__pic {
    background-image: url("../../images/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-height: 85vh;
    height: 80vh;
  }
  &__secondPic {
    background-image: url("../../images/fondo3.jpg") !important;
  }
}
