@import "../core/variables.scss";

.weddingwireWidget{
    border: none!important;
    &__title{
        font-family: $title_font;
    }
    &__btnOutline{
        border:none!important;
    }

}
.weddingwireWidget > div:nth-child(2) {
    display: grid;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.weddingWireWidgetReview{
    border: none!important;
    &__header{
        padding: 10px;
    }
}