@import "../core/variables.scss";

.section2 {
  background-color: $main_color;
  &__opinions {
    border: 2px solid black;
    padding: 15px;

    &--title {
      font-family: $title_font;
      font-size: 25px;
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
        font-size: 35px;
      }
    }
    &--container {
    
      @media screen and (min-width: 768px) {

      }
    }

  }
  &__instagram {
    border: 2px solid black;
    padding: 15px;
  
    &--title {
      font-family: $title_font;
      font-size: 25px;
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
        font-size: 35px;
      }
    }
    &--container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
  }
}

iframe:nth-child(1) {
  height: 497px;
  @media screen and (min-width: 768px) {
    height: 480px;
  }
}

iframe:nth-child(2) {
  height: 583px;
  @media screen and (min-width: 768px) {
    height: 561px;
  }
}
