@import "../core/variables.scss";

.section2 {
  // &__container {
  //   position: relative;
  //   z-index: 1;
  //   transition: top 0.1s ease;
  // }
  &__opinions {
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    // margin: 15px;

    &--title {
      font-family: $title_font;
      font-size: 25px;
    }
    &--container {
      // padding: 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
      line-height: 25px;
    }
  }
  &__instagram {
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    // margin: 15px;
    &--title {
      font-family: $title_font;
      font-size: 25px;
    }
  }
}
